body{
    margin-top: 0px;
    box-sizing: border-box;
    flex-direction:column ;
    height: 100vh;
    display: flex;
}
.navbar{
    background-color: #5C7285;
}
.container-fluid{
    margin-left: 20px;
    margin-right: 20px;
}
.login{
    border-radius: 12px;
}
.navbar-nav .nav-link{
    color: #E2E0C8;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-nav .nav-link:hover{
    color: white;
}
.form-control:focus {
    border-color: #E2E0C8 !important;
    box-shadow: 0 0 5px #E2E0C8 !important;
}
.container{
    background-color: #5C7285;
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    margin-top: 26px;
    color: #E2E0C8;
    padding-bottom: 10px;
    font-family: play-fair;
    font-size: 20px;
}
.form-control {
    border-color: #E2E0C8;
}

.btn-primary {
    background-color: white;
    border-color: #E2E0C8;
    color: #A7B49E;
}

.btn-primary:hover {
    background-color: #E2E0C8;
    border-color: #A7B49E;
    color: #5C7285;
}

footer{
    background-color: #5C7285;
    padding-top: 30px;
    margin-top: 20px;
    color: white;
    font-size: 1.2rem;
}