body{
    margin-top: 0px;
    box-sizing: border-box;
}
.navbar{
    background-color: #5C7285;
}
.container-fluid{
    margin-left: 20px;
    margin-right: 20px;
}
.login{
    border-radius: 12px;
}
.navbar-nav .nav-link{
    color: #E2E0C8;
    font-size: 18px;
    font-family: play-fair;
}
.navbar-nav .nav-link:hover{
    color: white;
}
.form-control:focus {
    border-color: #E2E0C8 !important;
    box-shadow: 0 0 5px #E2E0C8 !important;
}